node_modules
vendor
.git
.github
.env
.env.*
database/database.sqlite*
storage/*.key
storage/logs/*.log
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
storage/app/public/materials/*
.phpunit.result.cache
.vscode
.idea
Dockerfile
.dockerignore
